.loading-mask {
    position: fixed;
    z-index: 9999;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .3s;
    background-color: hsla(0, 100%, 0%, .7);
    text-align: center;
}

.loading-box {
    top: 45%;
    border-radius: 6px;
    position: relative;
    background-color: hsla(0, 100%, 0%, .9);;
    box-shadow: 0 0 8px rgb(0 0 0 / 10%);
    display: inline-block;
    margin: auto 0;
    width: 121.5px;
    height: 94px;
    pointer-events: auto;
}

.spinner {
    top: 30%;
    position: absolute;
    width: 100%;
    text-align: center;
}

.spinner-text {
    top: 60%;
    position: absolute;
    width: 100%;
    text-align: center;
    color: gray;
}

.spinner > div {
    width: 16px;
    height: 16px;
    background-color: gray;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner > div:nth-of-type(1) {
    margin-right: 20px;
}

.spinner > div:nth-of-type(3) {
    margin-left: 20px;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}
